<!DOCTYPE html>
<html lang="en">

<head>
  <title>Books</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>
  <h1>Books</h1>

  <main class="home">
    <header class="search">
      <form action="/">
        <input type="text" placeholder="Add to your list" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </header>

    <footer>
      <div class="icons">
        <i class="fas fa-plus-circle fa-2x"></i>
        <i class="fas fa-home fa-2x"></i>
        <i class="fas fa-user fa-2x"></i>
      </div>
    </footer>
  </main>





</body>

</html>
