<!DOCTYPE html>
<html lang="en">

<head>
  <title>To Do List</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <nav>
    <span>to do:</span>
    <form class="search" name="search" target="#here" method="post">
      <input name="add-search" type="text" placeholder="Add to the list" /><br />
      <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
  </form>
    <div>
      <img src="https://i.ibb.co/fY32MY0/andy3.png">
    </div>


  </nav>

  <main>
    <!-- BOOKS -->

    <article class="reading reading-button card" id="read">

      <!-- visible card -->
      <h2>Read</h2>
      <div class="counter">9 books</div>

      <section class="all-items">

        <!-- fake table data -->

        <table class="item">
          <tbody>
              <tr>
                  <td><input type="checkbox" name="" value=""></td>
                  <td><b>Harry Potter and the Philosopher's Stone</b></td>
                  <td>Author</td>
                  <td class="date-td">Jan 1 2020</td>
              </tr>
          </tbody>
          <tbody>
              <tr>
                <td><input type="checkbox" name="" value=""></td>
                <td><b>Harry Potter and the Chamber of Secrets</b></td>
                <td>Author</td>
                <td class="date-td">Jan 2 2020</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="" value=""></td>
                <td><b>Harry Potter and the Prisoner of Azkaban</b></td>
                <td>Author</td>
                <td class="date-td">Jan 4 2020</td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                <td><input type="checkbox" name="" value=""></td>
                <td><b>Harry Potter and the Order of the Phoenix</b></td>
                <td>Author</td>
                <td class="date-td">Jan 6 2020</td>
              </tr>
          </tfoot>
      </table>
      </section>

    </article>

    <!-- List 2 -->

    <div class="eating card">
      <h2>Eat</h2>
      <div class="counter">25 restaurants</div>
    </div>

    <!-- List 3 -->
    <div class="watching card">
      <h2>Watch</h2>
      <div class="counter">19 shows & movies</div>
    </div>

    <!-- List 4 -->

    <div class="buying card">
      <h2>Buy</h2>
      <div class="counter">3 products</div>
    </div>
  </main>

  <!-- Footer -->

  <footer>
    <div class="icon-cont">
      <i class="uil uil-plus"></i>
    </div>
  </footer>

</body>
</html>
