  <!DOCTYPE html>
<html lang="en">

  <head>
    <title>To Do List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap" rel="stylesheet">

  </head>


  <!-- Main container for all lists -->
  <body>

   <!-- Top Nav Bar -->

<nav class= "navbar">
<h1 class="nav">To Do List</h1>

<h3 class="user-profile">Image of User</h3>
</nav>


<!-- Main container-->


<main class=" main-container">

  <!-- Enter Item -->

  <form class="new-item">
    <textarea name="text" ></textarea>
    <button type="submit" class="text-button">ADD</button>
    </form>


  <!-- List 1 -->

  <div class="reading">
    <button type="submit" class="reading-button"> What To Read </button>
    <div class="counter">9 items</div>

    <section class="all-items">
    <article class="item">
      <header>
        <h2>Name of Book</h2>
      </header>

      <footer>
        <h6>Added: Mar 2</h6>
      </footer>
    </article>

    <article class="item">
      <header>
        <h2>Name of Book</h2>
      </header>

      <footer>
        <h6>Added: Mar 2</h6>
      </footer>
    </article>

    <article class="item">
      <header>
        <h2>Name of Book</h2>
      </header>

      <footer>
        <h6>Added: Mar 2</h6>
      </footer>
    </article>
  </section>



  </div>


  <!-- List 2 -->

  <div class="eating">
    <button type="submit" class="eating-button"> What To Eat </button>
    <div class="counter">9 items</div>
  </div>

  <!-- List 3 -->
  <div class="watching">
    <button type="submit" class="watching-button"> What To Watch </button>
    <div class="counter">9 items</div>
  </div>

  <!-- List 4 -->

  <div class="buying">
    <button type="submit" class="buying-button"> What To Buy </button>
    <div class="counter">9 items</div>
  </div>

</main>

<!-- Footer -->

<footer class="footer">



</footer>


  </body>
</html>
