  <!DOCTYPE html>
<html lang="en">

  <head>
    <title>To Do List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <!-- Main container for all lists -->
  <body>

   <!-- Top Nav Bar -->

<nav class= "navbar">
<h1 class="nav">What To Do/logo?</h1>

<form class="new-item">
<textarea name="text" ></textarea>
<button type="submit" class="button">ADD</button>
</form>
<div class="user-profile">Image of User</div>
</nav>


<!-- Main container-->


<main class=" main_container">

  <!-- List 1 -->

  <div class="reading">
    <button type="submit" class="reading-button"> What To Read </button>
    <div class="counter">9 items</div>

    <section class="all-items">
    <article class="item">
      <header>
        <h1>Name of Book</h1>
      </header>

      <footer>
        <h6>Added: Mar 2</h6>
      </footer>
    </article>

    <article class="item">
      <header>
        <h1>Name of Book2</h1>
      </header>

      <footer>
        <h6>Added: Mar 2</h6>
      </footer>
    </article>

    <article class="item">
      <header>
        <h1>Name of Book3</h1>
      </header>

      <footer>
        <h6>Added: Mar 2</h6>
      </footer>
    </article>
  </section>



  </div>


  <!-- List 2 -->

  <div class="eating">
    <button type="submit" class="eating-button"> What To Eat </button>
    <div class="counter">9 items</div>
  </div>

  <!-- List 3 -->
  <div class="watching">
    <button type="submit" class="watching-button"> What To Watch </button>
    <div class="counter">9 items</div>
  </div>

  <!-- List 4 -->

  <div class="buying">
    <button type="submit" class="buying-button"> What To Buy </button>
    <div class="counter">9 items</div>
  </div>

</main>

<!-- Footer -->

<footer class="footer">



</footer>


  </body>
</html>
