// See: https://sass-lang.com/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #3b3b3b;
}

nav {
  padding: 5vh;
  font-size: 3rem;
  font-weight: 600;
}

main {
  width: 80%;
  margin: 0 auto;
  padding-left: 10vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2vh;
}

.card {
  padding: 2rem 3rem;
  background: #EFCDCD;
  border-radius: 1.8rem;
  color: #FFF;
  background: linear-gradient(-148deg, var(--light), var(--dark));

  h2 {
    margin-top: 0;
    font-weight: 400;
  }

  .counter {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5)
  }
}

.reading {
  --light: #EFCDCD;
  --dark: #E5A9BB;
}

.watching {
  --light: #1A1C1E;
  --dark: #414141;
}

.eating {
  --light:#94D3E4;
  --dark: #A2C8EC;
}

.buying {
  --light:#EDDEF6;
  --dark: #CEB6D9;
}



footer {
  display: flex;
  justify-content: center;
  padding-top: 5vh;

  i {
    font-size: 2rem;
    color: grey;
  }
}

// Lists

// .main_container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
//   align-content: center;
//   border: 3px solid green;
// }

// // List 1

// .reading {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   border: 2px solid blue;
//   height: 50%;
// }

// .reading-button {
//   height: 50px;
//   width: 100%;
//   background-color: #b65fcc;
// }

// .reading-button:hover {
//   background-color: yellow;
// }

// .reading-button:hover section.all-items {
//   display: block;
// }

// // Items for List 1
// .all-items {
//   display: none;
// }


// .item {
//   border: 10px solid black;
// }


// // List 2

// .eating {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   border: 2px solid blue;
//   height: auto;
// }

// .eating-button {
//   height: 50px;
//   width: 100px;
//   background-color: #4fa6be;
// }


// // List 3

// .watching {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   border: 2px solid blue;
//   height: auto;
// }

// .watching-button {
//   height: 50px;
//   width: 100px;
//   background-color: #62be4f;
// }

// // List 4

// .buying {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   border: 2px solid blue;
//   height: auto;
// }

// .buying-button {
//   height: 50px;
//   width: 100px;
//   background-color: #d87634;
// }
