.popup {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  background-color: #ffffff;
  padding: 1vw;
  margin: 0 auto;
  border-radius: 1.8rem;
  z-index: 9999;
  overflow: auto;
  width: 50%;
  visibility: hidden;
  margin: 0 auto;
}

.close {
  align-items: flex-end;
}

.result.container {
  font-size: 1.2rem;
  font-weight: 300;
  overflow: auto;
  display: flex;
  justify-content: center;
}

#result {
  max-width: 50%;
}

.popup.active {
  visibility: visible;
  height: 60vh;
}

.result.container.active {
  visibility: visible;
}

#result {
  padding: 1rem;
}

#dynamic {
  height: 300px;
  width: 250px;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

#imgbutton {
  font-size: 1.5rem;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
}

.search-title {
  font-weight: 600;
  font-size: 1rem;
}

.search-author {
  font-size: 0.8rem;
  font-weight: 400;
}

